* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #fce138; 
    --secondary-color: #024e76;
    --terttiary-color: #39a6b2;
}

body {
    font-family:  Helvetica, Arial, sans-serif;
    color: var(--terttiary-color);

}
/*header css*/
header {
    padding: 20px 35px; 
    background-color: var(--terttiary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-image: url(../images/flipped-hero-image.jpeg);
    background-size: cover;
    z-index: 9999;
    background-attachment: fixed;
    background-position: 80%;
    
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--primary-color);
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
   

}

header a {
    text-decoration: none;
    color: var(--primary-color)
}

header nav {
    
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/*general section styles */
section{
    padding: 60px; 
  }

.section-title {
    font-size: 48px;
    color: var(--secondary-color);
   padding-bottom: 20px;
    border-bottom:  3px solid;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 30%;
    }
/*Hero style*/
.hero {
    background-image: url(../images/flipped-hero-image.jpeg);
    display: flex;
    background-size: cover;
   
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
    background-position: 80%;
    
}


.hero-form {
    border: 3px solid var(--secondary-color);
    background-color: rgba(252, 225, 56, 0.80);
    padding: 20px; 
    width: 40%;
    color: var(--secondary-color); 
    margin: 3.5%;
    border-radius: 15px;;

    

}

.hero-form h3 {
    margin: 0; 
    font-size: 24px;
}

.hero-form p {
    margin: 5px 0 15px 0;
    
}

.form-input {
    border: 1px solid --secondary-color;
    border-radius: 10px;
    display: block;
    padding: 7px 15px ;
    font-size: 16px;
    color: var(--secondary-color);
    width: 100%;
    margin-bottom: 15px;
    background-color: rgba(252, 225, 225, 0.75);
    
}

.hero-form label {
    margin:  0 5px;

}

.hero-form button {
    color: var(--primary-color);
    border-radius: 10px;
    background-color: var(--secondary-color);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
}

.hero-cta {
    width: 35%;
    text-align: right;
    margin: 3.5%;
    color: #fff;
    font-size: 18px;
    line-height: 1.2;

    
}

.hero-cta h2 {
    font-style: italic;
    font-size: 55px;
    color: var(--primary-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/*hide the checkboxes and radio buttons for custom build*/
.checkbox-wrapper input, .radio-wrapper input {
    opacity: 0;
}
.checkbox-wrapper label, .radio-wrapper label {
    position: relative;
    left: 10px;
    margin: 10px;
    line-height: 1.6;
}

.checkbox-wrapper label::before, .radio-wrapper label::before {
    content: "";
    height: 20px;
    width: 20px;
    background: rgba(255,255,255,0.75);
    border: 1px solid --secondary-color;
    position: absolute;
    top: -4px;
    left: -30px;
}

.radio-wrapper label::before {
    border-radius: 50%;
}

.radio-wrapper label::after {
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--secondary-color);
    position: absolute;
    left: -29px;
    top: -3px;
    background-image: radial-gradient(circle, --terttiary-color, --secondary-color);
}

.checkbox-wrapper label::after {
    content: "";
    height: 6px;
    width: 14px;
    border-left: 2px solid --secondary-color;
    border-bottom: 2px solid --secondary-color;
    position: absolute;
    left: -26px;
    top: 1px;
    transform: rotate(-58deg);
}

.checkbox-wrapper input + label::after, 
.radio-wrapper input + label::after {
    content: none;
}

.checkbox-wrapper input:checked + label::after, 
.radio-wrapper input:checked + label::after {
    content: "";
}

/* end hero style */

/* style for what we do */



.intro p {
    line-height: 1.7;
    color: var(--terttiary-color);
    width: 80%;
    font-size: 20px;
    margin: 0 auto;
    text-align: center;
}
/*end style for what we do */

/* what you do section style */

.steps {
    
    background: var(--primary-color);
}



.primary-border {
    border-color: var(--primary-color)
}

.secondary-border {
    border-color: var(--terttiary-color);
}

.step {
    margin: 50px auto;
    padding-bottom: 50px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.step h3 {
    color: var(--secondary-color);
    font-size:  46px;
    flex: 1 30%;

    
}

.step-info {
    flex: 2 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.step-img {
    flex: 1 12%;
    margin-right: 20px;
}

.step-text {
    flex: 12;
}
.step-text p {
    color: var(--terttiary-color);
    font-size: 18px ;
}

.step-text h4 {
    font-size: 26px;
    line-height: 1.5;
    color: var(--secondary-color);
}

.step-img img {
    max-width: 100%;
}

.step:not(:last-child){
    border-bottom: 1px solid --terttiary-color;
}
/* end what would you do css */

/* trainers section */



.trainer {
    flex: 1;
    margin: 20px;
    background: var(--secondary-color);
    color: var(--primary-color);
    
}

.trainer img {
    width: 100%;
      

}

.trainers {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.trainer-bio {
    padding: 25px;
    
}



.trainer-bio h3 {
    font-size: 28px;

    
}

.trainer-bio h4 {
    font-weight: lighter;
    font-size: 22px;
    margin-bottom: 15px;
}

.trainer-bio p {
    font-size: 17px;
    line-height: 1.3;
}

/*contact section */
.contact {
    background: var(--secondary-color);
    
}

.contact-title {
    color: var(--primary-color);
}

.contact-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact-info > * {
    flex: 1;
    margin: 15px;
}
.contact h2 {
    color: var(--primary-color);
}

.contact-info iframe {
   
    height: 400px;
}

.contact-info div {
    color: white;
}

.contact-info h3 {
    color: var(--primary-color);
    font-size: 32px;
}

.contact-info p , .contact-info address {
    margin: 20px 0px;
    line-height: 1.5;
    font-size: 16px;
    font-style: normal;
}
.contact-info a {
    color: var(--primary-color);
}

.contact-form input, .contact-form textarea {
    border: 1px solid --secondary-color; 
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: var(--secondary-color);
    width: 100%;
    margin-bottom: 15px;
    margin-top: 5px;
    border-radius: 10px;
   
    background-color: rgba(255, 255, 255, .75);
}

.contact-form button {
    width: 100%;
    border: none;
    background: var(--primary-color);
    color: var(--secondary-color); 
    text-align: center;
    padding: 15px 0;
    font-size: 16px;
    border-radius: 10px;
}

/*footer css */
footer {
    background: var(--primary-color);
    width: 100%; 
    padding: 40px 35px; 
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


footer h2 {
    
    color: var(--secondary-color);
    font-size: 30px;
    margin: 0;
}

footer div {
    
    line-height: 1.5;
    text-align: right;
}

footer a {
    color: var(--secondary-color);
}

/*hover/focus CSS */

header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: non;
}

.hero-form button:hover {
    background-color: var(--terttiary-color);
}
.contact-form button:hover{
    color: var(--primary-color);
    background: var(--terttiary-color);
}
.form-input:focus {
    background-color: rgba(252, 225, 225, 1);
    outline: none;
}
.contact-form input:focus, .contact-form textarea:focus {
    
    background-color: rgba(255, 255, 255, 1);
    outline: none;
}


/*general formatting classes*/

.text-left {
    text-align: left;
    }

.text-right {
    text-align: right;
}

.flex-row {
    display: flex;
}

/* Media queries for small desktop screens*/

@media screen and (max-width:980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }
    header h1{
        width: 100%;
        text-align: center;
    }

    header nav ul {
        margin-top: 20px;
        width: 100%;
        text-align: center;
    }
    header nav ul li a {
        font-size: 20px;
    }
    footer h2, footer div {
        text-align: center;
        width: 100%;

    }

    .hero-cta, .hero-form {
        width: 100%;
    }
    .hero-cta {
        text-align: center;
    }

    .section-title {
        width: 80%;
    }
    .trainer {
        flex: 0 70%;

    }
    .contact-info iframe{
        flex: 1 100%;
    }
}

/*tablets and small screens */

@media screen and (max-width:768px) {
   section {
       padding: 30px 15px;

   }
   .step h3 {
       flex: 1 100%; 
       text-align: center;
       justify-content: center;
   }
    .step-info {
        flex: 2 100%;
        text-align: center;
        justify-content: center;
    }
    .step-img {
        flex: 0 32%;
        margin-right: 0;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .step-text {
        flex: 100%;
    }
}

/*mobile phones */
@media screen and (max-width:575px){
   .hero-form button {
       width: 100%;
   }
   .section-title {
       width: 95%;
   }
    .intro p {
        width: 100%;
    }
    .trainer{
        flex: 0 100%;
    }
    .contact-info {
        text-align: center;
    }
    .contact-info > *  {
        flex: 0 100%;
    }
    .contact-form {
        order: 3;
    }
}
